/*********************************** Start SignIn / SignUp Page ***********************************/

/* Start Form */

form {
    margin: 150px auto 100px;
    width: 50%
}

fieldset {
    padding: 10px;
    border: 1px solid var(--border)
}

legend {
    font-size: 34px;
    text-align: center;
    padding: 5px
}

label {
    display: block;
    margin: 8px auto
}

button {
    background: var(--subClr);
    color: var(--light);
    font-size: 17px;
    width: 100%
}

.up_signUp:hover,
.in_signIn:hover,
.saveEdits:hover,
.backProfile:hover {
    background: var(--light);
    color: var(--subClr)
}

.fbInput,
.twInput,
.gogInput {
    cursor: not-allowed;
    color: var(--white)
}

.fbInput {
    background: #3B5998
}

.twInput {
    background: #55ACEE
}

.gogInput {
    background: #dd4b39
}

@media (max-width: 1200px) {
    form {
        width: 60%
    }
}

@media (max-width: 1024px) {
    form {
        width: 70%
    }
}

@media (max-width: 768px) {
    form {
        width: 80%
    }
}

@media (max-width: 480px) {
    form {
        width: 96%
    }
}

/* End Form */

/*********************************** End SignIn / SignUp Page ***********************************/